In [1]:
import os
os.getcwd()

'C:\\Users\\Lenovo\\Desktop\\27th Nov - Stats and ML Batch\\DecisionTree'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
# Data Preprocessing
### 1) Handling missing value
### 2) Handling outlier - Outlier only required when we have large tree to avoid overfitting
### 3) Encoding - in tree based model, always use label encoder method
### 4) Feature Scaling - please note, there is no need to do feature scaling in DT

In [4]:
dataset.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
dataset['State'] = dataset['State'].astype('category')
dataset['State'] = dataset['State'].cat.codes
dataset.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [7]:
# split the data into ind and dep variable
x = dataset.iloc[:,0:-1]
y = dataset[['Profit']]

In [8]:
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [9]:
y.head()

      Profit
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [10]:
# splitting the data into training and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

# Building DecisionTree Regressor Model

In [12]:
from sklearn.tree import DecisionTreeRegressor
dtregressor = DecisionTreeRegressor()
dtregressor.fit(x_train, y_train)

DecisionTreeRegressor()

In [13]:
# Predict test data with dtregressor model
y_pred_train = dtregressor.predict(x_train)
y_pred_test = dtregressor.predict(x_test)

In [14]:
# Evaluate your model
from sklearn.metrics import r2_score

In [15]:
print("Training Accuracy :", r2_score(y_train, y_pred_train))
print()
print("Test Accuracy :", r2_score(y_test, y_pred_test))

Training Accuracy : 1.0

Test Accuracy : 0.8970521770191967

In [17]:
# Using cross validation method (K-Fold Mothod)
from sklearn.model_selection import cross_val_score
Trainging_accuracy = cross_val_score(dtregressor, x_train, y_train, cv=10)
print(Trainging_accuracy)

[  0.39348771   0.82744575   0.66091195   0.86940966   0.97439774
   0.26438253   0.92982412   0.2642215  -21.22435468   0.92614543]

In [18]:
Trainging_accuracy.mean()

-1.5114128273464837

# Linear Regression Model

In [19]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(x_train, y_train)

LinearRegression()

In [20]:
# Predict test data with linear model
y_pred_train_lr = linear.predict(x_train)
y_pred_test_lr = linear.predict(x_test)

In [21]:
print("Training Accuracy :", r2_score(y_train, y_pred_train_lr))
print()
print("Test Accuracy :", r2_score(y_test, y_pred_test_lr))

Training Accuracy : 0.9419507593691141

Test Accuracy : 0.9616053937220065

# RandomForestRegressor Model

In [25]:
from sklearn.ensemble import RandomForestRegressor
rf_regressor = RandomForestRegressor(n_estimators=500)
rf_regressor.fit(x_train, y_train)

RandomForestRegressor(n_estimators=500)

In [26]:
# Predict test data with linear model
y_pred_train_rf = rf_regressor.predict(x_train)
y_pred_test_rf = rf_regressor.predict(x_test)

In [27]:
print("Training Accuracy :", r2_score(y_train, y_pred_train_rf))
print()
print("Test Accuracy :", r2_score(y_test, y_pred_test_rf))

Training Accuracy : 0.9850932080652272

Test Accuracy : 0.9391016814865277

# Classification Problem

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [29]:
df = pd.read_csv('penguins_lter.csv')
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/2007,39.1,18.7,181,.,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/2007,39.5,17.4,186,3800,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/2007,40.3,18.0,.,3250,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/2007,36.7,19.3,193,3450,FEMALE,8.76651,-25.32426,NaN

In [30]:
df.shape

(344, 17)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            344 non-null    object
 1   Sample Number        344 non-null    int64
 2   Species              344 non-null    object
 3   Region               344 non-null    object
 4   Island               344 non-null    object
 5   Stage                344 non-null    object
 6   Individual ID        344 non-null    object
 7   Clutch Completion    344 non-null    object
 8   Date Egg             344 non-null    object
 9   Culmen Length (mm)   342 non-null    float64
 10  Culmen Depth (mm)    342 non-null    float64
 11  Flipper Length (mm)  342 non-null    object
 12  Body Mass (g)        342 non-null    object
 13  Sex                  334 non-null    object
 14  Delta 15 N (o/oo)    330 non-null    float64
 15  Delta 13 C (o/oo)    331 non-null    float64
 16  Comments             26 non-null     object
dtypes: float64(4), int64(1), object(12)
memory usage: 45.8+ KB

In [33]:
df.head(2)

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/2007,39.1,18.7,181,.,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/2007,39.5,17.4,186,3800,FEMALE,8.94956,-24.69454,NaN

In [32]:
df.columns

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [34]:
df.drop(['studyName','Sample Number','Individual ID','Date Egg','Comments'], axis=1,inplace=True)

In [35]:
df.head()

,Species,Region,Island,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,39.1,18.7,181,.,MALE,NaN,NaN
1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,39.5,17.4,186,3800,FEMALE,8.94956,-24.69454
2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,40.3,18.0,.,3250,FEMALE,8.36821,-25.33302
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,36.7,19.3,193,3450,FEMALE,8.76651,-25.32426

In [36]:
df.shape

(344, 12)

In [37]:
# Data Preprocessing
df.isnull().sum()

Species                 0
Region                  0
Island                  0
Stage                   0
Clutch Completion       0
Culmen Length (mm)      2
Culmen Depth (mm)       2
Flipper Length (mm)     2
Body Mass (g)           2
Sex                    10
Delta 15 N (o/oo)      14
Delta 13 C (o/oo)      13
dtype: int64

In [39]:
df.isnull().sum()/len(df)*100

Species                0.000000
Region                 0.000000
Island                 0.000000
Stage                  0.000000
Clutch Completion      0.000000
Culmen Length (mm)     0.581395
Culmen Depth (mm)      0.581395
Flipper Length (mm)    0.581395
Body Mass (g)          0.581395
Sex                    2.906977
Delta 15 N (o/oo)      4.069767
Delta 13 C (o/oo)      3.779070
dtype: float64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Region               344 non-null    object
 2   Island               344 non-null    object
 3   Stage                344 non-null    object
 4   Clutch Completion    344 non-null    object
 5   Culmen Length (mm)   342 non-null    float64
 6   Culmen Depth (mm)    342 non-null    float64
 7   Flipper Length (mm)  342 non-null    object
 8   Body Mass (g)        342 non-null    object
 9   Sex                  334 non-null    object
 10  Delta 15 N (o/oo)    330 non-null    float64
 11  Delta 13 C (o/oo)    331 non-null    float64
dtypes: float64(4), object(8)
memory usage: 32.4+ KB

In [67]:
df['Species'].value_counts()

Adelie Penguin (Pygoscelis adeliae)          152
Gentoo penguin (Pygoscelis papua)            124
Chinstrap penguin (Pygoscelis antarctica)     68
Name: Species, dtype: int64

In [41]:
# Finding the unique values in the given dataset
for i in df.columns:
    print("*********************************************", i ,
         "******************************************************")
    print()
    print(set(df[i].tolist()))
    print()

********************************************* Species ******************************************************

{'Chinstrap penguin (Pygoscelis antarctica)', 'Adelie Penguin (Pygoscelis adeliae)', 'Gentoo penguin (Pygoscelis papua)'}

********************************************* Region ******************************************************

{'Anvers'}

********************************************* Island ******************************************************

{'Torgersen', 'Dream', 'Biscoe'}

********************************************* Stage ******************************************************

{'Adult, 1 Egg Stage'}

********************************************* Clutch Completion ******************************************************

{'No', 'Yes'}

********************************************* Culmen Length (mm) ******************************************************

{nan, nan, 49.4, 49.9, 37.3, 45.7, 50.4, 32.1, 33.1, 33.5, 35.6, 36.2, 35.7, 38.1, 35.2, 40.2, 41.5, 34.1, 34.6, 36.7, 37.8, 38.9, 39.5, 40.3, 42.0, 41.1, 42.5, 46.0, 44.1, 45.8, 46.5, 50.0, 51.3, 52.7, 51.7, 52.0, 58.0, 54.2, 55.8, 59.6, 47.7, 47.2, 48.2, 45.0, 50.2, 43.8, 34.4, 34.5, 34.0, 35.9, 35.3, 35.0, 35.1, 35.5, 36.6, 36.4, 36.5, 36.0, 36.9, 37.7, 37.9, 37.2, 37.6, 37.0, 38.6, 38.7, 38.2, 38.8, 37.5, 39.1, 39.3, 39.2, 39.8, 39.6, 39.0, 39.7, 40.6, 40.5, 40.9, 40.8, 40.1, 41.4, 41.3, 41.6, 41.8, 41.0, 42.2, 42.3, 42.8, 42.1, 42.9, 43.2, 42.7, 43.1, 43.5, 43.3, 44.5, 44.4, 44.0, 45.6, 45.4, 45.2, 45.9, 45.5, 46.1, 46.6, 46.4, 46.7, 46.9, 47.0, 47.5, 47.6, 46.2, 46.8, 48.5, 48.1, 48.7, 48.4, 47.8, 49.2, 49.5, 49.7, 49.0, 49.8, 50.5, 50.3, 50.6, 50.9, 50.8, 51.0, 50.1, 51.5, 51.4, 50.7, 52.8, 52.2, 51.9, 47.3, 51.1, 53.5, 52.5, 52.1, 43.6, 53.4, 54.3, 55.9, 55.1, 48.8, 42.6, 49.3, 45.1, 45.3, 42.4, 43.4, 44.9, 48.6, 40.7, 49.6, 49.1, 41.7, 38.5, 46.3, 47.4, 38.3, 36.3, 36.8}

********************************************* Culmen Depth (mm) ******************************************************

{nan, nan, 13.2, 14.1, 15.9, 16.7, 17.4, 18.4, 19.0, 20.7, 21.5, 18.7, 18.0, 19.3, 20.6, 17.8, 19.6, 20.2, 21.2, 21.1, 13.5, 14.5, 14.0, 15.5, 15.0, 16.0, 16.4, 16.9, 16.6, 16.1, 17.5, 17.1, 17.6, 17.9, 17.0, 18.1, 18.9, 18.6, 18.5, 19.1, 19.5, 19.4, 19.9, 20.0, 20.5, 20.1, 13.4, 13.9, 14.4, 14.9, 15.4, 13.3, 13.8, 13.7, 14.3, 14.8, 14.2, 14.7, 15.2, 15.3, 15.7, 15.8, 16.2, 16.8, 16.3, 17.7, 17.3, 17.2, 18.3, 18.8, 18.2, 19.8, 19.2, 19.7, 20.3, 20.8, 16.5, 13.6, 13.1, 14.6, 15.1, 15.6}

********************************************* Flipper Length (mm) ******************************************************

{nan, '203', '179', '188', '176', '215', '195', '231', '228', '225', '182', '194', '174', '206', '222', '189', '229', '210', '226', '216', '172', '197', '207', '221', '202', '184', '230', '214', '187', '212', '183', '208', '213', '198', '223', '186', '211', '209', '193', '201', '217', '219', '192', '199', '218', '200', '178', '220', '224', '.', '196', '205', '190', '191', '185', '180', '181'}

********************************************* Body Mass (g) ******************************************************

{nan, '3575', '3750', '3450', '5400', '4875', '3900', '5850', '2925', '5950', '3650', '3725', '3775', '3525', '5150', '3825', '4700', '4200', '3250', '3050', '2900', '3275', '5200', '4575', '4950', '3600', '4475', '4350', '3350', '5500', '3000', '5000', '5050', '4000', '4500', '4775', '3200', '3475', '3175', '4075', '5550', '4625', '5100', '3950', '5700', '3850', '3300', '6000', '.', '3400', '3675', '5300', '4925', '4725', '6050', '3075', '3700', '5800', '3100', '4400', '3150', '5350', '5250', '4250', '4050', '2700', '4300', '3425', '4450', '4850', '3550', '4275', '5650', '4975', '3875', '4800', '3800', '4900', '2975', '3500', '5750', '6300', '3325', '4600', '4100', '3975', '4150', '4375', '4750', '5600', '3625', '5450', '4675', '2850', '4650', '4550'}

********************************************* Sex ******************************************************

{nan, 'MALE', '.', 'FEMALE'}

********************************************* Delta 15 N (o/oo) ******************************************************

{nan, nan, nan, nan, nan, nan, nan, nan, 8.90027, 8.94956, 8.36821, 8.76651, 8.66496, 9.18718, 9.4606, 9.13362, 8.63243, 8.55583, 9.18528, 10.02019, nan, nan, nan, nan, nan, 7.88494, nan, 8.94332, 8.8964, 8.35396, 8.57199, 8.01979, 9.27158, 9.07826, 8.79665, 8.9846, 9.46929, 9.62357, 9.65061, 8.70642, 8.2066, 8.15426, 8.29671, 8.30515, 8.14756, 8.38404, 8.33524, 8.32718, 9.42666, 9.49283, 9.22537, 9.45827, 9.29808, 8.39299, 7.90436, 8.65914, 8.30231, 7.99184, 8.75984, 8.65015, 8.51951, 8.08138, 8.74802, 9.25769, 9.22286, 9.21292, 8.87988, 9.14863, 10.02372, 9.11066, 9.07825, 8.63551, 8.27141, 8.96472, 8.96436, 8.24651, 8.65803, 8.63259, 8.58063, 8.27376, 8.01485, 8.2345, 8.23468, 8.86495, 8.83352, 8.27102, 7.76843, 7.69778, 7.993, 8.24694, 8.24515, 8.88098, 8.64701, 8.58487, 8.14567, 8.9399, 9.07878, 8.37615, 8.27595, 8.29226, 8.12311, 8.41017, 8.74647, 8.93997, 7.8962, 8.97025, 8.62623, 8.86853, 8.73762, 8.18658, 9.25177, 9.46819, 8.40327, 8.60447, 9.02657, 9.04296, 9.415, 8.45738, 7.79958, 8.59147, 8.30166, 7.8208, 7.96935, 8.81668, 8.68747, 8.47257, 8.49854, 8.47938, 9.56534, 9.00642, 9.32277, 9.59462, 9.05674, 9.36799, 9.06829, 8.04111, 7.90971, 8.28601, 7.96621, 7.89744, 8.48367, 8.03659, 8.5964, 8.04787, 8.79787, 8.79581, 9.22033, 8.67538, 9.15308, 9.05736, 9.43684, 9.32169, 8.36701, 8.62264, 8.25818, 8.45167, 8.36936, 8.85664, 8.41151, 7.63884, 8.13643, 8.19579, 8.24253, 8.19749, 8.52566, 8.47829, 9.98044, 9.43146, 9.08458, 9.36493, 9.39305, 9.43782, 9.18021, 8.58319, 8.3639, 8.85699, 8.39459, 8.94365, 7.92358, 7.97408, 8.56192, 8.77322, 8.08354, 7.84057, 7.9953, 8.43423, 8.57087, 8.97533, 8.83502, 8.1631, 9.41131, 9.01079, 9.23196, 9.32105, 8.35078, 9.2881, 9.59245, 9.26715, 9.70465, 8.15566, 8.16582, 8.20106, 8.33825, 8.48204, 8.717, 8.90002, 8.43951, 8.47067, 9.93727, 9.68933, 9.51929, 9.29078, 9.03935, 9.61734, 8.4207, 8.12691, 8.24246, 7.77672, 7.6322, 7.6887, 8.38289, 8.90723, 8.98705, 8.35802, 8.41837, 8.80967, 8.10417, 9.19031, 9.37369, 9.49645, 9.63954, 9.69756, 9.4618, 9.74144, 8.93465, 8.19101, 8.95063, 8.39867, 8.56708, 8.26548, 7.83733, 7.63452, 7.82381, 7.8881, 8.30817, 8.2554, 8.6287, 8.68744, 8.20042, 8.55868, 9.53262, 9.6895, 9.46985, 8.63604, 8.47827, 9.72764, 9.66523, 8.84451, 9.8059, 9.77528, 8.3118, 8.71078, 8.10231, 8.46531, 8.77018, 8.32359, 8.48095, 8.14705, 8.47173, 8.65466, 8.92069, 9.35416, 9.74492, 9.11616, 9.18985, 9.51784, 9.36392, 9.2151, 9.75486, 8.2993, 8.24691, 8.51362, 7.88863, 7.68528, 8.27428, 8.47781, 8.61651, 8.14776, 8.80186, 9.10702, 9.88809, 9.80589, 9.50772, 9.49106, 9.31735, 9.0233, 9.35138, 8.64931, 9.14382, 8.78557, 8.46616, 8.21634, 8.10277, 7.96491, 8.46894, 8.3554, 8.63701, 8.13746, 8.19539, 9.11006, 9.28153, 9.79532, 9.12277, 8.22673, 9.17847, 9.108, 10.02544, 9.63074, 8.66271, 8.91434, 8.60092, 8.03624, 8.72037, 8.50153, 8.88942, 8.53018, 8.11238, 9.37608, 9.34089, 9.30722, 8.07137, 8.95998, 9.36668, 9.2372, 9.04218, 9.02642, 8.63488, 8.49662, 8.38324, 9.23408, 8.48789, 8.85562, 8.49915, 8.56674}

********************************************* Delta 13 C (o/oo) ******************************************************

{nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -26.06594, -25.03469, -26.33867, -26.18466, -26.18444, -26.20372, -26.79093, -26.57585, -26.2253, -26.39677, -25.95399, -25.62618, -25.89677, -25.8306, -25.33302, -24.65859, -25.69199, -24.45721, -25.39587, -26.83006, -24.80526, -26.75621, -24.69638, -24.43062, -24.16566, -25.38157, -26.57563, -25.32829, -25.27385, -25.54456, -26.7489, -26.05621, -25.48025, -25.79203, -26.08165, -25.77951, -26.65931, -26.07021, -26.06967, -26.22664, -26.08547, -26.68867, -25.22664, -26.86127, -26.20538, -26.03679, -26.78733, -26.3433, -25.29805, -26.01363, -26.32909, -26.59467, -26.65359, -26.22227, -25.5139, -25.09368, -26.79846, -25.73722, -26.7699, -24.805, -24.29229, -24.60882, -24.36088, -24.59467, -24.31198, -24.40753, -24.62717, -24.70615, -24.10255, -26.11657, -25.85203, -26.41218, -25.77264, -25.95541, -24.84059, -26.23886, -25.80208, -26.18599, -25.88547, -25.11223, -26.05756, -26.35425, -26.15531, -26.11244, -25.21799, -26.03495, -26.06209, -26.63085, -26.38085, -26.06943, -25.81513, -25.3933, -25.4276, -25.81012, -25.29856, -24.90816, -24.52896, -24.59513, -25.49448, -25.19837, -24.59996, -24.6844, -24.55644, -24.54704, -24.45195, -26.21019, -26.84374, -26.13971, -26.27853, -26.70968, -25.32176, -26.42406, -26.57941, -25.54976, -24.4228, -26.44787, -25.14591, -26.1165, -26.38396, -25.97696, -26.19444, -25.52473, -26.84506, -25.01185, -26.01549, -26.84272, -26.5929, -26.84415, -26.37809, -26.30037, -25.57956, -26.30019, -25.37899, -25.37746, -25.6821, -24.26375, -24.59066, -24.6879, -24.34684, -24.25255, -24.89958, -26.24369, -25.06691, -26.63405, -26.13832, -25.0602, -25.46172, -25.39369, -26.09635, -25.36288, -24.53494, -26.2766, -25.79529, -26.17213, -26.60436, -24.66867, -24.48153, -25.89741, -26.06203, -26.72791, -25.89834, -26.18161, -26.22848, -26.61601, -26.55602, -26.46254, -26.0245, -26.79053, -25.22588, -25.50811, -26.55351, -26.23027, -26.01152, -24.69454, -24.7557, -24.49433, -24.41562, -25.04169, -24.48403, -24.64162, -24.54903, -26.60023, -26.18763, -25.40075, -26.07081, -26.69166, -25.23453, -25.46782, -25.46327, -25.42621, -26.89644, -26.11046, -25.11609, -26.15775, -26.12417, -26.11199, -26.86352, -26.67799, -25.39181, -26.61414, -25.83352, -25.38017, -25.50562, -24.23592, -24.57994, -24.56481, -24.73735, -25.42826, -24.66259, -24.77227, -26.51382, -23.90309, -23.78767, -25.49523, -25.86482, -26.24837, -25.48383, -25.76147, -26.02002, -25.88156, -26.86485, -25.46569, -26.04726, -26.72751, -25.21315, -26.28055, -25.13993, -25.45171, -25.0102, -25.03474, -25.03492, -24.52698, -25.23061, -26.60484, -26.21569, -26.32601, -26.66958, -26.54718, -25.79189, -25.4168, -26.45978, -25.18543, -25.01745, -24.404, -25.61039, -25.00169, -24.64335, -24.97134, -24.47142, -24.66188, -24.31912, -24.86594, -24.78984, -26.07821, -25.53768, -25.69195, -25.09383, -26.16524, -26.3146, -26.40943, -26.84166, -26.74809, -25.23319, -26.61075, -26.44815, -25.12255, -26.38092, -25.96013, -26.9547, -26.27573, -26.42018, -26.07188, -25.52627, -26.04117, -26.21651, -26.74249, -25.19017, -26.69543, -26.50086, -26.11969, -25.32426, -25.69327, -26.38986, -25.0639, -26.78958, -26.68311, -26.7765, -26.1396, -26.09294, -25.1455, -25.60826, -25.57647, -25.88798, -25.79549, -24.7294, -24.35575, -24.65786, -24.38933, -25.07683, -24.30229, -24.17282, -24.68741, -24.36202, -24.3613, -26.15003, -26.49288, -26.61788, -26.71199, -26.79358, -24.59897, -26.23613, -25.98843, -24.38751, -26.12989, -27.01854, -26.5387, -26.36678, -26.42563, -25.70711, -26.03442, -25.3947, -26.8154, -26.76821, -24.45189, -26.09989, -24.90024, -24.61867, -23.89017, -26.48973, -26.36863, -26.70783}

In [42]:
df['Flipper Length (mm)'].mode()

0    190
Name: Flipper Length (mm), dtype: object

In [43]:
df['Flipper Length (mm)'] = np.where(df['Flipper Length (mm)']=='.','190', 
                                     df['Flipper Length (mm)'])

In [44]:
df['Body Mass (g)'].mode()

0    3800
Name: Body Mass (g), dtype: object

In [45]:
df['Body Mass (g)'] = np.where(df['Body Mass (g)']=='.','3800',
                              df['Body Mass (g)'])

In [46]:
df['Sex'].mode()

0    MALE
Name: Sex, dtype: object

In [47]:
df['Sex'] = np.where(df['Sex']=='.','MALE', df['Sex'])

In [51]:
# Finding the unique values in the given dataset
for i in df.columns:
    print("*********************************************", i ,
         "******************************************************")
    print()
    print(set(df[i].tolist()))
    print()

********************************************* Species ******************************************************

{'Chinstrap penguin (Pygoscelis antarctica)', 'Adelie Penguin (Pygoscelis adeliae)', 'Gentoo penguin (Pygoscelis papua)'}

********************************************* Region ******************************************************

{'Anvers'}

********************************************* Island ******************************************************

{'Torgersen', 'Dream', 'Biscoe'}

********************************************* Stage ******************************************************

{'Adult, 1 Egg Stage'}

********************************************* Clutch Completion ******************************************************

{'No', 'Yes'}

********************************************* Culmen Length (mm) ******************************************************

{nan, nan, 49.4, 49.9, 37.3, 45.7, 50.4, 32.1, 33.1, 33.5, 35.6, 36.2, 35.7, 38.1, 35.2, 40.2, 41.5, 34.1, 34.6, 36.7, 37.8, 38.9, 39.5, 40.3, 42.0, 41.1, 42.5, 46.0, 44.1, 45.8, 46.5, 50.0, 51.3, 52.7, 51.7, 52.0, 58.0, 54.2, 55.8, 59.6, 47.7, 47.2, 48.2, 45.0, 50.2, 43.8, 34.4, 34.5, 34.0, 35.9, 35.3, 35.0, 35.1, 35.5, 36.6, 36.4, 36.5, 36.0, 36.9, 37.7, 37.9, 37.2, 37.6, 37.0, 38.6, 38.7, 38.2, 38.8, 37.5, 39.1, 39.3, 39.2, 39.8, 39.6, 39.0, 39.7, 40.6, 40.5, 40.9, 40.8, 40.1, 41.4, 41.3, 41.6, 41.8, 41.0, 42.2, 42.3, 42.8, 42.1, 42.9, 43.2, 42.7, 43.1, 43.5, 43.3, 44.5, 44.4, 44.0, 45.6, 45.4, 45.2, 45.9, 45.5, 46.1, 46.6, 46.4, 46.7, 46.9, 47.0, 47.5, 47.6, 46.2, 46.8, 48.5, 48.1, 48.7, 48.4, 47.8, 49.2, 49.5, 49.7, 49.0, 49.8, 50.5, 50.3, 50.6, 50.9, 50.8, 51.0, 50.1, 51.5, 51.4, 50.7, 52.8, 52.2, 51.9, 47.3, 51.1, 53.5, 52.5, 52.1, 43.6, 53.4, 54.3, 55.9, 55.1, 48.8, 42.6, 49.3, 45.1, 45.3, 42.4, 43.4, 44.9, 48.6, 40.7, 49.6, 49.1, 41.7, 38.5, 46.3, 47.4, 38.3, 36.3, 36.8}

********************************************* Culmen Depth (mm) ******************************************************

{nan, nan, 13.2, 14.1, 15.9, 16.7, 17.4, 18.4, 19.0, 20.7, 21.5, 18.7, 18.0, 19.3, 20.6, 17.8, 19.6, 20.2, 21.2, 21.1, 13.5, 14.5, 14.0, 15.5, 15.0, 16.0, 16.4, 16.9, 16.6, 16.1, 17.5, 17.1, 17.6, 17.9, 17.0, 18.1, 18.9, 18.6, 18.5, 19.1, 19.5, 19.4, 19.9, 20.0, 20.5, 20.1, 13.4, 13.9, 14.4, 14.9, 15.4, 13.3, 13.8, 13.7, 14.3, 14.8, 14.2, 14.7, 15.2, 15.3, 15.7, 15.8, 16.2, 16.8, 16.3, 17.7, 17.3, 17.2, 18.3, 18.8, 18.2, 19.8, 19.2, 19.7, 20.3, 20.8, 16.5, 13.6, 13.1, 14.6, 15.1, 15.6}

********************************************* Flipper Length (mm) ******************************************************

{nan, nan, 172.0, 174.0, 176.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 195.0, 196.0, 197.0, 198.0, 199.0, 200.0, 201.0, 202.0, 203.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0, 228.0, 229.0, 230.0, 231.0}

********************************************* Body Mass (g) ******************************************************

{nan, nan, 3075.0, 4100.0, 3600.0, 4625.0, 5650.0, 3100.0, 5150.0, 3625.0, 4650.0, 4150.0, 3650.0, 4675.0, 5700.0, 3150.0, 5200.0, 3675.0, 4700.0, 3175.0, 4200.0, 3700.0, 4725.0, 5750.0, 3200.0, 5250.0, 2700.0, 3725.0, 4750.0, 4250.0, 6300.0, 3750.0, 4775.0, 5800.0, 3250.0, 4275.0, 5300.0, 3775.0, 4800.0, 3275.0, 4300.0, 3800.0, 5850.0, 3300.0, 5350.0, 3825.0, 4850.0, 3325.0, 4350.0, 3850.0, 4875.0, 3350.0, 4375.0, 5400.0, 2850.0, 3875.0, 4900.0, 4400.0, 3900.0, 4925.0, 5950.0, 3400.0, 5450.0, 2900.0, 4950.0, 3425.0, 4450.0, 2925.0, 3950.0, 4975.0, 6000.0, 3450.0, 4475.0, 5500.0, 3975.0, 5000.0, 3475.0, 4500.0, 2975.0, 4000.0, 6050.0, 3500.0, 5550.0, 3000.0, 5050.0, 3525.0, 4550.0, 4050.0, 3550.0, 4575.0, 5600.0, 3050.0, 4075.0, 5100.0, 3575.0, 4600.0}

********************************************* Sex ******************************************************

{nan, 'MALE', 'FEMALE'}

********************************************* Delta 15 N (o/oo) ******************************************************

{nan, nan, nan, nan, nan, nan, nan, nan, 8.90027, 8.94956, 8.36821, 8.76651, 8.66496, 9.18718, 9.4606, 9.13362, 8.63243, 8.55583, 9.18528, 10.02019, nan, nan, nan, nan, nan, 7.88494, nan, 8.94332, 8.8964, 8.35396, 8.57199, 8.01979, 9.27158, 9.07826, 8.79665, 8.9846, 9.46929, 9.62357, 9.65061, 8.70642, 8.2066, 8.15426, 8.29671, 8.30515, 8.14756, 8.38404, 8.33524, 8.32718, 9.42666, 9.49283, 9.22537, 9.45827, 9.29808, 8.39299, 7.90436, 8.65914, 8.30231, 7.99184, 8.75984, 8.65015, 8.51951, 8.08138, 8.74802, 9.25769, 9.22286, 9.21292, 8.87988, 9.14863, 10.02372, 9.11066, 9.07825, 8.63551, 8.27141, 8.96472, 8.96436, 8.24651, 8.65803, 8.63259, 8.58063, 8.27376, 8.01485, 8.2345, 8.23468, 8.86495, 8.83352, 8.27102, 7.76843, 7.69778, 7.993, 8.24694, 8.24515, 8.88098, 8.64701, 8.58487, 8.14567, 8.9399, 9.07878, 8.37615, 8.27595, 8.29226, 8.12311, 8.41017, 8.74647, 8.93997, 7.8962, 8.97025, 8.62623, 8.86853, 8.73762, 8.18658, 9.25177, 9.46819, 8.40327, 8.60447, 9.02657, 9.04296, 9.415, 8.45738, 7.79958, 8.59147, 8.30166, 7.8208, 7.96935, 8.81668, 8.68747, 8.47257, 8.49854, 8.47938, 9.56534, 9.00642, 9.32277, 9.59462, 9.05674, 9.36799, 9.06829, 8.04111, 7.90971, 8.28601, 7.96621, 7.89744, 8.48367, 8.03659, 8.5964, 8.04787, 8.79787, 8.79581, 9.22033, 8.67538, 9.15308, 9.05736, 9.43684, 9.32169, 8.36701, 8.62264, 8.25818, 8.45167, 8.36936, 8.85664, 8.41151, 7.63884, 8.13643, 8.19579, 8.24253, 8.19749, 8.52566, 8.47829, 9.98044, 9.43146, 9.08458, 9.36493, 9.39305, 9.43782, 9.18021, 8.58319, 8.3639, 8.85699, 8.39459, 8.94365, 7.92358, 7.97408, 8.56192, 8.77322, 8.08354, 7.84057, 7.9953, 8.43423, 8.57087, 8.97533, 8.83502, 8.1631, 9.41131, 9.01079, 9.23196, 9.32105, 8.35078, 9.2881, 9.59245, 9.26715, 9.70465, 8.15566, 8.16582, 8.20106, 8.33825, 8.48204, 8.717, 8.90002, 8.43951, 8.47067, 9.93727, 9.68933, 9.51929, 9.29078, 9.03935, 9.61734, 8.4207, 8.12691, 8.24246, 7.77672, 7.6322, 7.6887, 8.38289, 8.90723, 8.98705, 8.35802, 8.41837, 8.80967, 8.10417, 9.19031, 9.37369, 9.49645, 9.63954, 9.69756, 9.4618, 9.74144, 8.93465, 8.19101, 8.95063, 8.39867, 8.56708, 8.26548, 7.83733, 7.63452, 7.82381, 7.8881, 8.30817, 8.2554, 8.6287, 8.68744, 8.20042, 8.55868, 9.53262, 9.6895, 9.46985, 8.63604, 8.47827, 9.72764, 9.66523, 8.84451, 9.8059, 9.77528, 8.3118, 8.71078, 8.10231, 8.46531, 8.77018, 8.32359, 8.48095, 8.14705, 8.47173, 8.65466, 8.92069, 9.35416, 9.74492, 9.11616, 9.18985, 9.51784, 9.36392, 9.2151, 9.75486, 8.2993, 8.24691, 8.51362, 7.88863, 7.68528, 8.27428, 8.47781, 8.61651, 8.14776, 8.80186, 9.10702, 9.88809, 9.80589, 9.50772, 9.49106, 9.31735, 9.0233, 9.35138, 8.64931, 9.14382, 8.78557, 8.46616, 8.21634, 8.10277, 7.96491, 8.46894, 8.3554, 8.63701, 8.13746, 8.19539, 9.11006, 9.28153, 9.79532, 9.12277, 8.22673, 9.17847, 9.108, 10.02544, 9.63074, 8.66271, 8.91434, 8.60092, 8.03624, 8.72037, 8.50153, 8.88942, 8.53018, 8.11238, 9.37608, 9.34089, 9.30722, 8.07137, 8.95998, 9.36668, 9.2372, 9.04218, 9.02642, 8.63488, 8.49662, 8.38324, 9.23408, 8.48789, 8.85562, 8.49915, 8.56674}

********************************************* Delta 13 C (o/oo) ******************************************************

{nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -26.06594, -25.03469, -26.33867, -26.18466, -26.18444, -26.20372, -26.79093, -26.57585, -26.2253, -26.39677, -25.95399, -25.62618, -25.89677, -25.8306, -25.33302, -24.65859, -25.69199, -24.45721, -25.39587, -26.83006, -24.80526, -26.75621, -24.69638, -24.43062, -24.16566, -25.38157, -26.57563, -25.32829, -25.27385, -25.54456, -26.7489, -26.05621, -25.48025, -25.79203, -26.08165, -25.77951, -26.65931, -26.07021, -26.06967, -26.22664, -26.08547, -26.68867, -25.22664, -26.86127, -26.20538, -26.03679, -26.78733, -26.3433, -25.29805, -26.01363, -26.32909, -26.59467, -26.65359, -26.22227, -25.5139, -25.09368, -26.79846, -25.73722, -26.7699, -24.805, -24.29229, -24.60882, -24.36088, -24.59467, -24.31198, -24.40753, -24.62717, -24.70615, -24.10255, -26.11657, -25.85203, -26.41218, -25.77264, -25.95541, -24.84059, -26.23886, -25.80208, -26.18599, -25.88547, -25.11223, -26.05756, -26.35425, -26.15531, -26.11244, -25.21799, -26.03495, -26.06209, -26.63085, -26.38085, -26.06943, -25.81513, -25.3933, -25.4276, -25.81012, -25.29856, -24.90816, -24.52896, -24.59513, -25.49448, -25.19837, -24.59996, -24.6844, -24.55644, -24.54704, -24.45195, -26.21019, -26.84374, -26.13971, -26.27853, -26.70968, -25.32176, -26.42406, -26.57941, -25.54976, -24.4228, -26.44787, -25.14591, -26.1165, -26.38396, -25.97696, -26.19444, -25.52473, -26.84506, -25.01185, -26.01549, -26.84272, -26.5929, -26.84415, -26.37809, -26.30037, -25.57956, -26.30019, -25.37899, -25.37746, -25.6821, -24.26375, -24.59066, -24.6879, -24.34684, -24.25255, -24.89958, -26.24369, -25.06691, -26.63405, -26.13832, -25.0602, -25.46172, -25.39369, -26.09635, -25.36288, -24.53494, -26.2766, -25.79529, -26.17213, -26.60436, -24.66867, -24.48153, -25.89741, -26.06203, -26.72791, -25.89834, -26.18161, -26.22848, -26.61601, -26.55602, -26.46254, -26.0245, -26.79053, -25.22588, -25.50811, -26.55351, -26.23027, -26.01152, -24.69454, -24.7557, -24.49433, -24.41562, -25.04169, -24.48403, -24.64162, -24.54903, -26.60023, -26.18763, -25.40075, -26.07081, -26.69166, -25.23453, -25.46782, -25.46327, -25.42621, -26.89644, -26.11046, -25.11609, -26.15775, -26.12417, -26.11199, -26.86352, -26.67799, -25.39181, -26.61414, -25.83352, -25.38017, -25.50562, -24.23592, -24.57994, -24.56481, -24.73735, -25.42826, -24.66259, -24.77227, -26.51382, -23.90309, -23.78767, -25.49523, -25.86482, -26.24837, -25.48383, -25.76147, -26.02002, -25.88156, -26.86485, -25.46569, -26.04726, -26.72751, -25.21315, -26.28055, -25.13993, -25.45171, -25.0102, -25.03474, -25.03492, -24.52698, -25.23061, -26.60484, -26.21569, -26.32601, -26.66958, -26.54718, -25.79189, -25.4168, -26.45978, -25.18543, -25.01745, -24.404, -25.61039, -25.00169, -24.64335, -24.97134, -24.47142, -24.66188, -24.31912, -24.86594, -24.78984, -26.07821, -25.53768, -25.69195, -25.09383, -26.16524, -26.3146, -26.40943, -26.84166, -26.74809, -25.23319, -26.61075, -26.44815, -25.12255, -26.38092, -25.96013, -26.9547, -26.27573, -26.42018, -26.07188, -25.52627, -26.04117, -26.21651, -26.74249, -25.19017, -26.69543, -26.50086, -26.11969, -25.32426, -25.69327, -26.38986, -25.0639, -26.78958, -26.68311, -26.7765, -26.1396, -26.09294, -25.1455, -25.60826, -25.57647, -25.88798, -25.79549, -24.7294, -24.35575, -24.65786, -24.38933, -25.07683, -24.30229, -24.17282, -24.68741, -24.36202, -24.3613, -26.15003, -26.49288, -26.61788, -26.71199, -26.79358, -24.59897, -26.23613, -25.98843, -24.38751, -26.12989, -27.01854, -26.5387, -26.36678, -26.42563, -25.70711, -26.03442, -25.3947, -26.8154, -26.76821, -24.45189, -26.09989, -24.90024, -24.61867, -23.89017, -26.48973, -26.36863, -26.70783}

In [49]:
df['Flipper Length (mm)'] = pd.to_numeric(df['Flipper Length (mm)'])

In [50]:
df['Body Mass (g)'] = pd.to_numeric(df['Body Mass (g)'])

In [52]:
df.isnull().sum()

Species                 0
Region                  0
Island                  0
Stage                   0
Clutch Completion       0
Culmen Length (mm)      2
Culmen Depth (mm)       2
Flipper Length (mm)     2
Body Mass (g)           2
Sex                    10
Delta 15 N (o/oo)      14
Delta 13 C (o/oo)      13
dtype: int64

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Region               344 non-null    object
 2   Island               344 non-null    object
 3   Stage                344 non-null    object
 4   Clutch Completion    344 non-null    object
 5   Culmen Length (mm)   342 non-null    float64
 6   Culmen Depth (mm)    342 non-null    float64
 7   Flipper Length (mm)  342 non-null    float64
 8   Body Mass (g)        342 non-null    float64
 9   Sex                  334 non-null    object
 10  Delta 15 N (o/oo)    330 non-null    float64
 11  Delta 13 C (o/oo)    331 non-null    float64
dtypes: float64(6), object(6)
memory usage: 32.4+ KB

In [54]:
df.columns

Index(['Species', 'Region', 'Island', 'Stage', 'Clutch Completion',
       'Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)',
       'Body Mass (g)', 'Sex', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'],
      dtype='object')

In [ ]:
#'Culmen Length (mm)','Culmen Depth (mm)', 'Flipper Length (mm)','Body Mass (g)'
# 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)' - numerical columns
       
#'Sex' - char

In [55]:
df['Sex'].value_counts()

MALE      169
FEMALE    165
Name: Sex, dtype: int64

In [56]:
df['Sex'] = df['Sex'].fillna('MALE')

In [58]:
df.head(1)

,Species,Region,Island,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3800.0,MALE,NaN,NaN

In [59]:
# splitting the data into independent and dependent variable
x = df.iloc[:,1:]
y = df[['Species']]
#x1 = df.drop(['Species'], axis=1)
#y1 = df[['Species']]

In [60]:
x.head(1)

,Region,Island,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Anvers,Torgersen,"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3800.0,MALE,NaN,NaN

In [62]:
y.head(1)

                               Species
0  Adelie Penguin (Pygoscelis adeliae)

In [66]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer(missing_values=np.nan, strategy='median')
x[:,4:] = impute.fit_transform(x[:,4:])

InvalidIndexError: (slice(None, None, None), slice(4, None, None))